.card-outlined {
  margin-top: 20px;
}

.title-overlap {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}