<mat-card class="card-outlined" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title-overlap">{{titulo}}</mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 60px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <form [formGroup]="formGroup" (submit)="save()">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Sistema</mat-label>
                  <mat-select name="idSistema" formControlName="idSistema">
                    <mat-option value="">--Seleccionar--</mat-option>
                    <mat-option *ngFor="let item of sistemas" [value]="item.idSistema.toString()">{{item.nombre}}</mat-option>
                  </mat-select>
                  @if (formGroup.get('idSistema')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Entidad</mat-label>
                  <mat-select name="idEntidad" formControlName="idEntidad">
                    <mat-option value="">--Seleccionar--</mat-option>
                    <mat-option *ngFor="let item of entidades" [value]="item.idEntidad.toString()">{{item.nombre}}</mat-option>
                  </mat-select>
                  @if (formGroup.get('idEntidad')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Rol</mat-label>
                  <mat-select name="idRol" formControlName="idRol">
                    <mat-option value="">--Seleccionar--</mat-option>
                    <mat-option *ngFor="let item of roles" [value]="item.idRol.toString()">{{item.nombreRol}}</mat-option>
                  </mat-select>
                  @if (formGroup.get('idRol')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Nombre</mat-label>
                  <input matInput name="nombre" formControlName="nombre" placeholder="Ingresa el perfil">
                  @if (formGroup.get('nombre')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <br><br><br>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <button type="button" [routerLink]="['../']" mat-raised-button class="w-100">Cancelar</button>
              </div>
              <div class="col-lg-6">
                <button type="submit" mat-flat-button class="btn-custom-primary w-100">{{buttonTitle}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>