<div class="container-fluid  d-flex flex-column justify-content-center bg-fondo">
  <div class="d-flex vh-100 justify-content-center align-items-center">

    <mat-card class="example-card" appearance="outlined">
      <form [formGroup]="formGroup" (submit)="login()">
      <mat-card-header class="text-center justify-content-center">
          <mat-card-title>
            <h1 class="title-main">¡Bienvenido al Portal de Sistemas!</h1>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content class="text-center justify-content-center">
        <p>Conoce, analiza y gestiona toda la información en un solo lugar</p>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Usuario</mat-label>
          <input matInput name="user" formControlName="user" placeholder="Ingresa tú nombre de usuario">
          @if (formGroup.get('user')?.invalid) {
            <mat-error>Campo requerido</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="passwordVisible ? 'text' : 'password'" name="password" formControlName="password" placeholder="Ingresa tú contraseña">
          <button type="button" *ngIf="formGroup.get('password')?.value" mat-icon-button matSuffix (click)="passwordVisible = !passwordVisible;"
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!passwordVisible">
            <mat-icon>{{passwordVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          @if (formGroup.get('password')?.invalid) {
            <mat-error>Campo requerido</mat-error>
          }
        </mat-form-field>
        <mat-icon style="cursor: pointer;" (click)="showCaptcha()" md-list-icon>refresh</mat-icon>
        <img [src]="captcha.captchaImage" alt="captcha" style="margin-bottom: 10px;">
        <mat-form-field class="w-100" appearance="outline">
          <input matInput type="text" name="captchaText" formControlName="captchaText" placeholder="Ingresa el texto">
          <mat-error>
            @if (formGroup.get('captchaText')?.hasError('required')) {
              Campo requerido
            } @else if (formGroup.get('captchaText')?.hasError('invalid')) {
              {{formGroup.get('captchaText')?.getError('message')}}
            }
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-footer class="d-flex flex-column justify-content-center example-card-footer">
        <button mat-flat-button type="submit" class="btn-custom-accent w-100">Ingresar</button>
        <div style="height: 10px;"></div>
        <button mat-raised-button type="button" class="w-100">Reactivar usuario</button>
      </mat-card-footer>
      </form>
      
    </mat-card>

  </div>
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="text-white"> Preservar la <b>estabilidad</b> monetaria</h4>
    <div class="d-flex align-items-center align-content-center justify-content-center">
      <img [src]="('logo' | loadPicture: 'svg')" alt="bcrp" width="20%">
      <h4 class="font-weight-bold text-white align-self-center">Banco Central de Reserva del Perú</h4>
    </div>
  </div>

</div>

<div *ngIf="showSpinner" class="loading-indicator">
  <mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</div>