<mat-toolbar class="toolbar-main mat-elevation-z3">
  <mat-toolbar-row class="d-flex justify-content-between">
   <div class="d-flex align-items-center w-100">
    <button type="button" mat-icon-button (click)="drawer.toggle(); drawerToogleMovile()" class="toggle_menu_mobile">
      <mat-icon md-list-icon>menu</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="drawer.open(); drawerToogle();" class="toggle_menu_desktop ml-auto">
      <mat-icon md-list-icon>menu</mat-icon>
    </button>

    <img [src]="('logo' | loadPicture: 'svg')" alt="bcrp" width="50px" height="50%">
    <h1 class="title-logo toggle_menu_desktop">Banco Central de Reserva del Perú</h1>
   </div>
    <img mat-card-avatar style="cursor: pointer;" [src]="('avatar' | loadPicture: 'png')" alt="avatar" height="60%"
    [matMenuTriggerFor]="menu">
    <!-- <button id="avatar" class="ml-auto" mat-mini-fab [matMenuTriggerFor]="menu">
      <mat-icon md-list-icon>account_circle</mat-icon>
    </button> -->
    <div style="width: 10px;"></div>
    <h6 class="toggle_menu_desktop">Josue Odar</h6>
    <mat-menu #menu="matMenu" class="z-3">
      <button mat-menu-item>
        <mat-icon md-list-icon>account_circle</mat-icon>
        <span>Josue Odar Benites</span>
      </button>
      <button mat-menu-item (click)="closeSession()">
        <mat-icon md-list-icon>power_settings_new</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container" autosize="true">
  <mat-sidenav #drawer [mode]="modo__" role="navigation" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true">
    <mat-nav-list style="text-align: center">
      <mat-toolbar class="toolbar-main-drawer">
        <small *ngIf="sidenavWidth > 6">Seguridad Centralizada de Aplicaciones</small>
        <small *ngIf="sidenavWidth <= 6">SCA</small>
      </mat-toolbar>
      <mat-divider class="text-white"></mat-divider>
      
      <mat-expansion-panel *ngFor="let opcion of menus?.opciones" class="mat-elevation-z0" [hideToggle]="hideArrow" [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="font-weight-bold text-option-drawer" md-list-icon>{{opcion.icono}}</mat-icon>
          </mat-panel-title>
          <mat-panel-description style="flex-basis: 100%">
            <h4 *ngIf="sidenavWidth > 6" class="font-weight-bold text-option-drawer">{{opcion.titulo}}</h4>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list *ngIf="opcion.subopciones.length > 0">
          <mat-list-item *ngFor="let subopcion of opcion.subopciones" [routerLink]="[subopcion.url]" [routerLinkActive]="'is-active'">
            <mat-icon matListItemIcon>fiber_manual_record</mat-icon>
            <div *ngIf="sidenavWidth > 6" class="text-center" matListItemTitle>{{subopcion.titulo}}</div>
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
 
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

          <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="cube-transition"     [fullScreen]="true"
          [disableAnimation]="false">
            <p style="color: white"> Cargando... </p>
          </ngx-spinner>

          <router-outlet></router-outlet>

        </div>
      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>