<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <mat-card class="card-outlined" appearance="outlined">
        <mat-card-header>
          <mat-card-title class="title-overlap">Gestión de entidades</mat-card-title>
        </mat-card-header>
        <mat-card-content style="margin-top: 40px;">
          <form [formGroup]="formGroup">
            <div class="row justify-content-center">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Nombre</mat-label>
                  <input matInput name="nombre" formControlName="nombre" placeholder="Ingresa el nombre de la entidad">
                </mat-form-field>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-4">
                <button (click)="clean()" mat-raised-button class="w-100">Limpiar</button>
              </div>
              <div class="col-md-4">
                <button (click)="search()" mat-flat-button class="btn-custom-primary w-100">Buscar</button>
              </div>
            </div>
          </form>
        </mat-card-content>
        <!-- TABLA -->
        <br>
        <div class="example-container mat-elevation-z8">
          @if (isLoadingResults || isRateLimitReached) {
          <div class="example-loading-shade">
            @if (isLoadingResults) {
            <mat-spinner></mat-spinner>
            }
            @if (isRateLimitReached) {
            <div class="example-rate-limit-reached">
              GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
            }
          </div>
          }

          <div class="example-table-container">

            <table mat-table [dataSource]="data" class="example-table" matSort  matSortDirection="desc">
              <!-- Number Column -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let row">{{row.number}}</td>
              </ng-container>

              <!-- Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let row">{{row.title}}</td>
              </ng-container>

              <!-- State Column -->
              <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef>Sigla</th>
                <td mat-cell *matCellDef="let row">{{row.state}}</td>
              </ng-container>

              <!-- Created Column -->
              <ng-container matColumnDef="created">
                <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                  Código externo
                </th>
                <td mat-cell *matCellDef="let row">{{row.created_at | date}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>

          <mat-paginator [length]="resultsLength" [pageSize]="30"
            aria-label="Select page of GitHub search results"></mat-paginator>
        </div>
        <br>
        <a routerLink="nueva-entidad" mat-fab aria-label="Nuevo">
          <mat-icon class="btn-custom-primary">add</mat-icon>
        </a>

      </mat-card>

    </div>
  </div>
</div>