@use '@angular/material' as mat;
// @use "bootstrap/scss/bootstrap";
@use './m3-theme' as theme;

@font-face {
  font-family: AlfaSlabOne;
  src: url('../public/assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Amiko;
  src: url('../public/assets/fonts/Amiko-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html {
  @include mat.all-component-themes(theme.$light-theme);
  @include mat.system-level-colors(theme.$light-theme);
  // @include mat.system-level-typography(theme.$light-theme);
  height: 100%;
}

body {
  font-family: Amiko, sans-serif;
  margin: 0;
  height: 100%;
}

// @include mat.core();
// @include mat.color-variants-backwards-compatibility(theme.$light-theme);
// $typography-config: mat.m2-define-typography-config($font-family: 'Amiko, sans-serif',
//     $body-2: mat.m2-define-typography-level(14px, 24px, 500),
//     $body-1: mat.m2-define-typography-level(14px, 20px, 400),
//     $button: mat.m2-define-typography-level(14px, 36px, 500, $letter-spacing: 0.014rem),
//   );

// @include mat.typography-hierarchy($typography-config);

.header-title {
  font-family: AlfaSlabOne, serif;
}

/*START INPUTS*/
.dense-2 {
  @include mat.all-component-densities(-2);
}
/*END INPUTS*/

/*START BUTTONS*/
.btn-custom-primary {
  background-color: theme.$primary !important;
  color: #fff !important;
}
.btn-custom-accent {
  background-color: theme.$accent !important;
  color: #fff !important;
}
/*END BUTTONS*/

/*START SIDENAV O DRAWER*/
.is-active {
  background-color: theme.$accent !important;
}
.mat-divider {
  border-top-color: #ffffff !important;
}

.mat-expansion-indicator {
  color: theme.$font-primary !important;
  & svg {
    fill: theme.$font-primary !important;
  }
}

.mat-content.mat-content-hide-toggle {
  margin-right: 0 !important;
}

.mat-mdc-nav-list .mat-mdc-list-item {
  border-radius: 0 !important;
}
/*END SIDENAV O DRAWER*/

/*START CARDS*/
.card-outlined {
  margin-top: 20px;
  background-color: #fff !important;
}

.title-overlap {
  position: absolute;
  top: -12px;
  left: 20px;
  background-color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}
/*END CARDS*

/* START TABLE */
.custom-container {
  position: relative;
  margin: 10px;
}

.custom-table-container {
  position: relative;
  min-height: 200px;
  max-height: 300px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-sort-header-content {
  font-weight: bold !important;
}

.mat-mdc-header-cell {
  font-weight: bold !important;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
/* END TABLE */
/*START SNACKBAR*/
.warning-snackbar {
  background: theme.$warn !important;

  .mat-simple-snackbar-action {
    color: white !important;
    font-weight: bold;
  }
}

.error-snackbar {
  background: theme.$danger !important;

  .mat-simple-snackbar-action {
    color: white !important;
    font-weight: bold;
  }
}

.success-snackbar {
  background: theme.$accent !important;

  .mat-simple-snackbar-action {
    color: white !important;
    font-weight: bold;
  }
}
/*END SNACKBAR*/