<div class="container-fluid bg-fondo">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="mt-4"></div>
      <h1 class="header-title text-white text-center">Portal de Sistemas</h1>
      <h3 class="text-white text-center">Conoce, analiza y gestiona toda la información en un solo lugar</h3>
      <br><br>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button *ngFor="let sistema of sistemas; index as i" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i" [ngClass]="{'active': i === 0}"></button>
        </div>
        <div class="carousel-inner">

          <div *ngFor="let sistema of sistemas; index as i" class="carousel-item" [ngClass]="{'active': i === 0}">
            <div class="row align-items-center justify-content-center">
                <mat-card *ngFor="let fila of sistema.grupo" class="custom-card space">
                  <img style="max-width: 140px;" mat-card-image [src]="('img2' | loadPicture: 'png')" alt="img1">
                  <mat-card-content class="d-flex flex-column justify-content-center text-center mt-5">
                    <h3>{{fila.titulo}}</h3>
                  </mat-card-content>
                  <mat-card-actions class="d-flex justify-content-center mt-5">
                    <button mat-flat-button class="btn-custom-accent" (click)="seleccionarSistema(fila)">Ingresar</button>
                  </mat-card-actions>
                </mat-card>
            </div>
          </div>

        </div>
       
      </div>

    </div>
  </div>
</div>
