<mat-card class="card-outlined" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title-overlap">
      <h3>{{titulo}}</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="margin-top: 60px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
          <form [formGroup]="formGroup" (submit)="save()">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Tipo de documento</mat-label>
                  <mat-select name="tipoDocumento" formControlName="tipoDocumento">
                    <mat-option value="">--Seleccionar--</mat-option>
                    <mat-option *ngFor="let item of documentos" [value]="item.documentIdentityId.toString()">{{item.documentTypeId}}</mat-option>
                  </mat-select>
                  @if (formGroup.get('tipoDocumento')?.invalid) {
                    <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Número documento</mat-label>
                  <input matInput name="numeroDocumento" formControlName="numeroDocumento" placeholder="Ingresa el N° de documento">
                  @if (formGroup.get('numeroDocumento')?.invalid) {
                    <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Nombres</mat-label>
                  <input matInput name="nombres" formControlName="nombres" placeholder="Ingresa nombres completos">
                  @if (formGroup.get('nombres')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Apellido paterno</mat-label>
                  <input matInput name="apePaterno" formControlName="apePaterno" placeholder="Ingresa el apellido materno">
                  @if (formGroup.get('apePaterno')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Apellido materno</mat-label>
                  <input matInput name="apeMaterno" formControlName="apeMaterno" placeholder="Ingresa el apellido materno">
                  @if (formGroup.get('apeMaterno')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <mat-form-field class="w-100">
                  <mat-label>Correo electrónico</mat-label>
                  <input matInput name="correoElectronico" formControlName="correoElectronico" placeholder="correo@mail.com">
                  @if (formGroup.get('correoElectronico')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label>Ámbito</mat-label>
                  <mat-select name="ambito" formControlName="ambito">
                    <mat-option value="">--Seleccionar--</mat-option>
                    <mat-option value="Interno">Interno</mat-option>
                    <mat-option value="Externo">Externo</mat-option>
                  </mat-select>
                  @if (formGroup.get('ambito')?.invalid) {
                  <mat-error>Campo requerido</mat-error>
                  }
                </mat-form-field>
              </div>
              @if (showSustento) {
                <div class="col-md-6">
                  <mat-form-field class="w-100" (click)="fileInputOne.click()">
                    <mat-label>Sustento</mat-label>
                    <input matInput type="text" placeholder="Seleccionar el archivo" formControlName="sustento"
                      [value]="fileInputOne.files![0]?.name">
                    <mat-icon matSuffix>folder_open</mat-icon>
                    @if (formGroup.get('sustento')?.invalid) {
                    <mat-error>El archivo sustento es requerido</mat-error>
                    }
                  </mat-form-field>
                  <input #fileInputOne type="file" (change)="onFileChanged($event)"
                    accept=".jpg,.png,.gif,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx" style="display:none;" />
                </div>
              }
            </div>
            <br>
            <div class="row justify-content-center">
              <div class="col-lg-6">
                <button type="button" [routerLink]="['../']" mat-raised-button class="w-100">Cancelar</button>
              </div>
              <div class="col-lg-6">
                <button type="submit" mat-flat-button class="btn-custom-primary w-100">{{buttonTitle}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>