@import '../../../../m3-theme.scss';

.example-card {
  max-width: 400px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.example-card-footer {
  padding: 16px;
}

.title-main {
  color: $primary !important;
  font-family: AlfaSlabOne, serif;
}